<!doctype html>
<html>
   <head>
      <title>Generate Google Charts</title>
      {{#if showTests}}
         <link rel="stylesheet" href="/vendor/mocha.css">
      {{/if}}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/home.css">
   </head>
   <body>
      <div class="topline"></div>
      {{{body}}}
      {{#if showTests}}
         <div id="mocha"></div>
         <script src="/vendor/mocha.js"></script> <script src="/vendor/chai.js"></script>
         <script>
            mocha.ui('tdd');
            var assert = chai.assert;
         </script>
         <script src="/qa/tests-global.js"></script>
         {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
         {{/if}}
         <script>mocha.run();</script>
      {{/if}}
      <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
   </body>
</html>