<div id="pagecenterer">
   <h1>Generate Google charts for your site</h1>
   </br>

   <div id="row">

      <div class="col-sm-4">
         <h3>Create awesome charts in a few clicks - No coding skills needed!</h3>
         You are just a few clicks away from generating fully customized google charts, from line charts to pie charts. Choose a chart, add new data easily and get the code to embed it into your site.
      </div>
   </div>
</div>
