*{ font-family: 'Roboto', sans-serif; }

#pagecenterer {
   margin: 100px 40px 0px;
}

#topline {
   z-index: 100;
   top: 0;
   position: fixed;
   width: 100%;
   background: #FFBF00;
   height: 5px;
   box-shadow: 0px 2px 2px #888888;
}

#upperwrapper {
   top: 0;
   width: 100%;
   position: fixed;
   background: #FFCD34;
   height: 80px;
   vertical-align: center;
   border: 1px solid transparent;
   box-shadow: 2px 2px 2px #888888;
}

#bodywrapper {
   margin-top: 40px;
}

#titletext {
   margin-left: 40px;
}

a:link {
    color: #03a9f4;
}

a:hover {
    color: #3b78e7;
}
